<!DOCTYPE html>

<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- custom css -->
    <link rel="stylesheet" href="../static/main.css" type="text/css">
    <title>College data</title>
</head>
<style>
    .chart text {
        fill: black;
        font: 10px sans-serif;
        text-anchor: end;
    }
</style>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top" id="containerNav">
        <div class="container-fluid" id="mainNav">
            <a id="navHome" class="navbar-brand js-scroll-trigger" href="#page-top">
                College Data
            </a>
            <button id="navButton" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link pl-4 pr-4 other" href="/search">Search</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <!-- main body container -->
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <h1 class="display-3 text-center">Welcome to the College Data Tool</h1>
            </div>
        </div>

        <hr>

        <!-- tuition megagraph -->
        <div class="row mt-2">
            <div class="col text-left ml-2">
                <h2>College Tuition Megagraph <small class="text-muted">(scroll to interact, hover for college
                        name)</small></h2>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-3"></div>
            <div class="megagraph1">
                <svg class="chart4" id="overflow"></svg>
            </div>
            <div class="col-md-3"></div>
        </div>

        <hr>

        <!-- acceptance rates megagraph -->
        <div class="row mt-2">
            <div class="col text-left ml-2">
                <h2>College Acceptance Rates Megagraph <small class="text-muted">(scroll to interact, hover for college
                        name)</small></h2>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-3"></div>
            <div class="megagraph1">
                <svg class="chart5" id="overflow"></svg>
            </div>
            <div class="col-md-3"></div>
        </div>


    </div>

    <script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
    <script src="../static/index.js"></script>
</body>

</html>
